<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VoMo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>12</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>13FA501B0EA40DBADF156FB27F8EFAC34715293A</string>
				<key>dateExpires</key>
				<string>8/11/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>E3GYNLB224.edu.uc.vomo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>E3GYNLB224</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>VoMo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c01d6599-8fd1-4549-bae1-3cf3ffc3b4bf</string>
				<key>dateExpires</key>
				<string>8/12/23</string>
				<key>name</key>
				<string>edu.uc.vomo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>E3GYNLB224</string>
				<key>name</key>
				<string>The University of Cincinnati</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.2</string>
		</dict>
	</array>
</dict>
</plist>
